.usersList {
    width: 748px;
}

.row {
    display: flex;
    height: 36px;
    border-bottom: 1px solid #f2f2f7;
}

.row:nth-child(1) {
    height: 40px;
    background: #f2f2f7;
}

.cell {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    border-right: 1px solid #f2f2f7;
    overflow: hidden;

    &:last-child {
        border-right: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cell:nth-child(1) {
    width: 51px;
}

.cell:nth-child(2) {
    width: 129px;
}

.cell:nth-child(3) {
    width: 120px;
}

.cell:nth-child(4) {
    width: 120px;
}

.cell:nth-child(5) {
    width: 200px;
}

.cell:nth-child(6) {
    width: 128px;
}

.button {
    height: 19px;
    font-size: 9px;
    line-height: 12px;
    width: 89px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135.3deg, rgb(0 165 238) 2.118%, rgb(20 215 209) 96.632%);
}
